h1 {
    color: red;
}

* {
    border-width: 2px;
    border-color: black;
}

#buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

#canvasContainer {
    display:flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    width: 500px;
    height: 500px;
    display: flex;  
    flex-direction: column;
}

.rowDiv {
    display: flex;
    flex: 1 1 auto;
}

.aRow {
    background-color: rgb(44, 44, 44);
    display: inline;
    flex: 1 1 auto;
    flex-basis: auto;
    transition: background-color .4s;
    border:1px solid rgb(0, 0, 0);
    
}

.aRow:hover {
    background-color: rgb(190, 190, 190);
}